@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
    @apply bg-gradient-to-r from-white/75 to-teal-500/75;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}